html {
  height: 100%;
    font-family: sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

body {
  height: 100%;
  background: #7a7a7a;
}

.fancy {
  font-family: cursive;
}

#bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-image: url("../img/00100lPORTRAIT_00100_BURST20181209133834284_COVER-opt.jpg");
  background-position: center bottom;
}

#fg {
  position: relative;

  color: white;

  text-align: center;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

#logo {
  min-width: 200px;
  width: 25%;
}

header {
  margin-top: 40px;
}

h2 {
  text-shadow: 0 0 2px black;
  font-size: 40px;
}

nav {
  margin: 40px 0;
}

nav a {
  position: relative;
  color: white;
  margin: 20px 0;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
  text-decoration: none;
}

nav a i {
  display: inline-block;
  min-width: 1.5em;
}

.jewel {
  background-image:
          radial-gradient(farthest-side, rgba(0,0,0,0.5), rgba(0,0,0,0) 80%),
          url("../img/jewel.png"),
          radial-gradient(closest-side, black, rgba(0,0,0,0));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  padding: 55px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 4px black;
  display: inline-block;
  transition: transform 200ms ease-in-out;
}

.jewel-2 {
  background-image:
          radial-gradient(farthest-side, rgba(0,0,0,0.5), rgba(0,0,0,0) 80%),
          url("../img/jewel-2.png"),
          radial-gradient(closest-side, black, rgba(0,0,0,0));
  padding: 60px;
  padding-right: 65px;
}

.jewel-3 {
  background-image:
          radial-gradient(farthest-side, rgba(0,0,0,0.5), rgba(0,0,0,0) 80%),
          url("../img/jewel-3.png"),
          radial-gradient(closest-side, black, rgba(0,0,0,0));
  padding: 60px;
  padding-bottom: 80px;
}

.jewel:hover, .jewel:active {
  transform: scale(1.2);
}

.eml {
  margin-top: 40px;
}

.eml a {
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 10px black;
  text-decoration: none;
}
